p { text-align: center }
h1 { text-align: center }
h5 { text-align: center }

h1 {
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 40px;
}

h2 {
    color: rgb(0, 0, 0);
    margin: 0;
}


header {
    display: flex;
    background-color: #cd4c4c;
    justify-content: space-between;
    margin-bottom: 1px;

}

header ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

header ul li {
    margin-right: 40px;
    font-size: 4em;
    margin-top: 0;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

footer{
    background-color: rgb(205, 76, 76);

    }

main {
    display: flex;
    align-items: flex-end;
}
nav {
    margin: 10px 0;
    background-color: #cd4c4c;
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    }

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px -7px 0 0;
    display:inline-block;
    background-color: #cd4c4c;
    }

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #570000;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}
nav ul ul ul {
    position: absolute;
    top:0;
    left:100%;
}
li > a:after { content:  ' +'; }
		li > a:only-child:after { content: ''; }

@media (max-width: 400px) {
    h1 {
        padding: 0 40px;
    }
       
}